
:root {
  --slate-blue:      #005170;
  --pale-turquoise:  #65c4cb;
  --gainsboro:       #dadfdf;
  --dark-gray:       #a9acac;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

.card-header button h3 {
  color: #01445D;
}

.btn-link {
  color: var(--slate-blue);
  padding-left: 0;
  border: 0;
}

body {
  margin-top: 75px;
  padding-top: 25px;
  margin-bottom: 60px;
  font-family: "Segoe UI","Calibri","proxima-nova","Helvetica Neue","Helvetica","Arial","sans-serif";
  font-size: 16px;
  max-width: 1366px !important;
}

body div.container-fluid {
  margin: 0 auto;
  padding: 0;
}

thead tr {
  background-color: var(--slate-blue);
  color: white;
}

.table tbody tr:hover {
  background-color: #e1f7f8 !important;
}

.table a.link {
  color: var(--slate-blue);
  font-weight: 500;
}

body {
  padding-left: 5%;
  padding-right: 5%;
  /* border-top: 1px solid black; */
}

.carousel-caption {
  height: 100%;
  offset-position: 20px;
}

.carousel-title a {
  color: white;
  text-shadow: 1px 1px 2px #333;
  font-weight: 700;
  text-decoration: underline;
}

.carousel-item.active {
  display:block;
}

/* Current page button on search results page navigation */
.page-link.btn-primary {
  background-color: var(--dark-gray) !important;
  border-color: var(--dark-gray) !important;
}
