
.navbar {
  width: 100%;
  max-width: 1366px;
  padding: 0;
  background-color: white !important;
}

.navbar-header {
  min-height: 70px;
  border-bottom: 1px solid #005170;
}

.navbar a {
  color: #52ACB1;

}
.navbar a:hover {
  color: #01445D !important;
  text-decoration: none
}

.navbar-footer {
  margin-bottom: 0;
  border-top-width: 2px;
  bottom: 0;
  border-top: 1px solid #005170;
}

.navbar-brand {
  float: left;
  padding: 15px;
  margin: 0;
}

.navbar-brand-group {
  margin-left: 5%;
}

.navbar-nav {
  margin-right: 5%
}

.navbar-footer > .navbar-brand {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  height: 50px;
  margin-left: 5%;
}

.navbar-footer .nav-link {
  font-size: 15px;
}


.nav-link {
  color: #52ACB1 !important;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.nav-link.active {
  font-weight: 900;
  text-decoration: underline;
}

.nav-link.disabled {
  color: slategray !important;
}
